/* Styles pour la page ForgotPassword */

.forgot-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f8fa;
}


.login-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .login-image img {
        max-width: 100%;
        height: auto;
    }

.forgot-form {
    flex: 1;
    padding: 2rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 550px;
    margin-left: 100px;
}

.input-group {
    display: flex;
    align-items: center; /* Centre verticalement les éléments */
    margin-bottom: 1.5rem;
    position: relative; /* Ajouté pour le positionnement absolu des icônes */
    border-radius: 8px;
    height: 50px;
}

.reset-btn {
    width: 100%;
    height: 45px;
    padding: 0.75rem;
    background-color: darkorange;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16.5px;
    cursor: pointer;
}

    .reset-btn:hover {
        background-color: orange;
    }

.retour {
    cursor: pointer;
    color: gray;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin-top:20px;
}